  .icon--001-youtube{
     width: 461px ;
     height: 461px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 39.953566433566436% 72.26327868852458%;
  }
  .icon--002-yelp{
     width: 435.65px ;
     height: 435.65px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 78.0765758884553% 58.283447412489636%;
  }
  .icon--003-wordpress{
     width: 447.67px ;
     height: 447.67px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 78.3381127153857% 14.94909134830397%;
  }
  .icon--004-wikipedia{
     width: 458.72px ;
     height: 458.72px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 52.81498792378567% 72.20929927791683%;
  }
  .icon--005-whatsapp{
     width: 418.14px ;
     height: 418.14px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 58.991503264360695% 86.78149027114063%;
  }
  .icon--006-vine{
     width: 385.68px ;
     height: 385.68px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 43.35017203971159% 99.62947794145879%;
  }
  .icon--007-vimeo{
     width: 434.02px ;
     height: 434.02px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 78.0412439824763% 72.41093539769516%;
  }
  .icon--008-twitter{
     width: 410.16px ;
     height: 410.16px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 90.15759106855239% 26.58989177126198%;
  }
  .icon--009-tumblr{
     width: 352px ;
     height: 352px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 99.92969598262758% 11.213991769547325%;
  }
  .icon--011-stumbleupon{
     width: 412.07px ;
     height: 412.07px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 90.20510881832706% 13.309109918584802%;
  }
  .icon--012-spotify{
     width: 427.65px ;
     height: 427.65px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 23.760998794462843% 87.0491510856698%;
  }
  .icon--014-snapchat{
     width: 468.34px ;
     height: 468.34px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 26.908393737071357% 72.43760393865892%;
  }
  .icon--015-skype{
     width: 400.93px ;
     height: 400.93px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 89.92866712332912% 79.0564199519625%;
  }
  .icon--016-shutterstock{
     width: 396.92px ;
     height: 396.92px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 0 99.98908184760829%;
  }
  .icon--017-scribd{
     width: 354.25px ;
     height: 354.25px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 99.99076526108509% 0;
  }
  .icon--018-reddit{
     width: 429.71px ;
     height: 429.71px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 0 87.1073478964979%;
  }
  .icon--019-quora{
     width: 427.67px ;
     height: 427.67px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 11.90883317213226% 87.04971572942242%;
  }
  .icon--021-pinterest{
     width: 412.44px ;
     height: 412.44px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 90.21431961937984% 0;
  }
  .icon--023-paypal{
     width: 512px ;
     height: 512px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 43.58683314415437% 56.41980660220074%;
  }
  .icon--024-path{
     width: 395.96px ;
     height: 395.96px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 21.78327710684498% 99.9582669885459%;
  }
  .icon--025-myspace{
     width: 396px ;
     height: 396px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 10.904395604395605% 99.95955056179776%;
  }
  .icon--026-medium{
     width: 393.54px ;
     height: 393.54px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 32.63947991192766% 99.88067208560815%;
  }
  .icon--027-linkedin{
     width: 382px ;
     height: 382px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 53.86152162014231% 99.51230425055928%;
  }
  .icon--029-instagram{
     width: 551.03px ;
     height: 551.03px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 20.774927761214585% 0;
  }
  .icon--032-hi5{
     width: 439.58px ;
     height: 439.58px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 78.16189432824865% 44.04607640765509%;
  }
  .icon--033-google-plus{
     width: 458.25px ;
     height: 458.25px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 65.62951575710991% 72.19818196707885%;
  }
  .icon--034-foursquare{
     width: 422.83px ;
     height: 422.83px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 47.36560970006947% 86.91328521422072%;
  }
  .icon--035-flickr{
     width: 362.68px ;
     height: 362.68px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 74.0937353674605% 98.90163642831732%;
  }
  .icon--036-facebook{
     width: 408.79px ;
     height: 408.79px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 90.1235384772318% 52.97707118473604%;
  }
  .icon--039-dropbox{
     width: 447.23px ;
     height: 447.23px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 78.32850809608863% 29.558680971482847%;
  }
  .icon--041-deviantart{
     width: 426.37px ;
     height: 426.37px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 35.600047650313186% 87.01302911532339%;
  }
  .icon--045-box{
     width: 457.94px ;
     height: 457.94px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 78.5629642879102% 0;
  }
  .icon--046-bing{
     width: 406.46px ;
     height: 406.46px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 90.0656832546273% 66.1048013554343%;
  }
  .icon--048-android{
     width: 413.14px ;
     height: 413.14px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 70.45179775094815% 86.6414234342417%;
  }
  .icon--049-amazon{
     width: 371.6px ;
     height: 371.6px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 64.1332823927519% 99.18264636554755%;
  }
  .icon--alarmclock{
     width: 58.15px ;
     height: 58.15px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 98.98337041366568% 29.142592351246073%;
  }
  .icon--auction{
     width: 483.61px ;
     height: 483.61px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 64.71783785001084% 48.907144437948205%;
  }
  .icon--badtenant{
     width: 512px ;
     height: 512px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 50.71027241770715% 17.072357452484162%;
  }
  .icon--burden{
     width: 256px ;
     height: 256px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 97.39179894179894% 30.913978494623656%;
  }
  .icon--business-down-bars-graphic{
     width: 512px ;
     height: 512px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 14.52894438138479% 56.41980660220074%;
  }
  .icon--closing{
     width: 512px ;
     height: 512px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 29.05788876276958% 56.41980660220074%;
  }
  .icon--codeviolations{
     width: 512px ;
     height: 512px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 65.23921679909193% 0;
  }
  .icon--doublepayments{
     width: 480px ;
     height: 480px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 0 72.71626525899042%;
  }
  .icon--facebook{
     width: 408.79px ;
     height: 408.79px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 90.1235384772318% 39.79969118789508%;
  }
  .icon--for-rent{
     width: 485px ;
     height: 485px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 64.743170937764% 16.92002643754131%;
  }
  .icon--givemoney{
     width: 354.8px ;
     height: 354.8px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 83.78735195045094% 98.65471136176416%;
  }
  .icon--hammer{
     width: 483.61px ;
     height: 483.61px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 64.71783785001084% 32.932658164293336%;
  }
  .icon--housesale{
     width: 300px ;
     height: 300px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 98.53881156316916% 21.99470569915914%;
  }
  .icon--instagram{
     width: 551.03px ;
     height: 551.03px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 0 21.250215373804462%;
  }
  .icon--listed{
     width: 512px ;
     height: 512px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 0 56.41980660220074%;
  }
  .icon--moving{
     width: 512px ;
     height: 512px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 50.71027241770715% 0;
  }
  .icon--phone-call{
     width: 512px ;
     height: 512px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 29.05788876276958% 39.347449149716574%;
  }
  .icon--phonecall{
     width: 512px ;
     height: 512px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 14.52894438138479% 39.347449149716574%;
  }
  .icon--piggy-bank{
     width: 512px ;
     height: 512px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 0 39.347449149716574%;
  }
  .icon--tax{
     width: 512px ;
     height: 512px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 36.18132803632236% 17.072357452484162%;
  }
  .icon--team{
     width: 512px ;
     height: 512px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 36.18132803632236% 0;
  }
  .icon--testimonial{
     width: 724px ;
     height: 629px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 0 0;
  }
  .icon--tools{
     width: 512.26px ;
     height: 512.26px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 15.637646364374216% 20.9754763667407%;
  }
  .icon--twitter{
     width: 512px ;
     height: 512px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 50.71027241770715% 34.144714904968325%;
  }
  .icon--unwanted{
     width: 480px ;
     height: 480px ;
     background-image:url('images/icons/css/svg/sprite.css-de6d2588.svg') ;
     background-position: 13.498312710911136% 72.71626525899042%;
  }
