.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.light-shadow{
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
}

.dark-shadow{
    box-shadow: 0 0.5rem 2rem rgba($color-primary-light, 1);
}

.vcenter-table{
    display: flex;
    flex-direction: column;
}

.vcenter-table-cell{
    margin: auto 0;
    
}
.no-margin {margin: 0}


.boxed{
    border: 2px solid $color-primary-light;
    background-color: rgba($color-primary, 0.5);
    border-radius: 2.5rem;
}

.primary{color: $color-primary;}
.secondar{color: $color-secondary;}
.tertiary{color: $color-tertiary;}


.bg-primary{background-color: $color-primary;}
.bg-secondary{background-color: $color-secondary;}
.bg-tertiary{background-color: $color-tertiary;}