$beige: #FAF0CA;
$mainYellow: #F4D35E;
$mainBlue: #0D3B66;
$lightOrange: #EE964B;
$darkOrange: #F95738;
$myRed : #b63d39;
$myBlue : #2599b9;
$darkGray : #333;
$headerColor : rgba(255,255,255, 0.8);
$darkBlue : rgba(23, 51, 72, 0.85);
$iconBackground: rgba($myBlue,0.5);
