$item-margin-left: 5rem;

.ordered-list{
    list-style: none;
    counter-reset: counter-name;
    position: relative;
    
    &__item{
        position: relative; 
        margin-left: $item-margin-left;
    }


    &__item::before{
        counter-increment: counter-name;
        content: counter(counter-name);
        padding: $padding-base-y $padding-large-x;  
        position: absolute;
        left: -$item-margin-left;
        top: 0;
        background:$color-primary;
        width: 1.5em;
        height: 1.5em;
        margin-right: 5.0em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid $color-secondary;
        color: #fff;
        box-sizing: border-box;
    }
}

