.page-numbers {
    text-align: center;
	display: inline-block;
	padding: $padding-base-y $padding-base-x;
	margin: 2rem 1rem 2rem 0;
	border: 1px solid $color-primary;
	line-height: 1;
	text-decoration: none;
	border-radius: 0.4rem;
    font-weight: 600;
    font-size: $default-font-size;
    color: $color-primary;
    
}
.page-numbers.current,
a.page-numbers:hover {
    background: $color-primary; 
    color: $color-white;   
}