.speciality{
    background-color: lighten(white,20%);
    padding: 2rem;
/*
    & > div{
        padding: 2rem;
    }
*/
    &__photo{
       // height: 25rem; 
        background-size: cover;
        margin-bottom: 2rem; 
    }

    &__img{
       // min-height: 100%;
        width: auto;
    } 


}

.specialities-container{
    display: flex;

    & > div {
        display: flex;
        //flex-direction: column;
        
    }

    @include respond(tab-port){
        display: block;

        & > div{
            display: flex;
        }
    }
        
}